@import url(fonts/fonts.css);

$primary-color: #DEE2E6;
$secondary-color: #ff7d23;

* {
  font-family: 'Helvetica', 'sans-serif';
}

html {
  font-size: 16px;
  font-family: 'sans-serif';
}

.img {
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  -ms-border-radius: 180px;
  -o-border-radius: 180px;
  border-radius: 50%;
  justify-content: center;

  &.describeblue {
     background: #7575FF;
  }
  &.diagnoseblue {
     background: #0000FE;
  }
  &.predictblue {
    background: #00008B;
  }
  &.prescribeblue {
    background: #00003E;
  }
}
